---
import "./navigation-bar.css";
import NavigationLink from "../navigation-link/navigation-link.astro";
import LeBigJon from "../le-big-jon/le-big-jon.astro";
---

<nav class="full-width flex-column-center">
  {
    Astro.url.pathname !== "/" && (
      <a href="/">
        <LeBigJon />
      </a>
    )
  }
  <ul class="navigation-list">
    <li class="navigation-item bretzel">
      <NavigationLink
        topDecoration="More"
        bottomDecoration="me"
        linkText="/about"
      >
        About
      </NavigationLink>
    </li>
    <li class="navigation-item bretzel">
      <NavigationLink topDecoration="Le" linkText="/blog">
        Blog
      </NavigationLink>
    </li>
    <li class="navigation-item bretzel">
      <NavigationLink linkText="/uses"> /uses </NavigationLink>
    </li>
    <li class="navigation-item bretzel">
      <NavigationLink
        topDecoration="Feel free to"
        bottomDecoration="me"
        linkText="/contact"
      >
        Contact
      </NavigationLink>
    </li>
  </ul>
</nav>
