.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 0.5rem auto;
}

.navigation-item {
  margin: 1rem;
}

.navigation-item:not([data-scroll='0']) {
  margin: 0;
  animation: make-no-margin 0.5s;
}

@keyframes make-no-margin {
  0% {
    margin: 1rem;
  }

  100% {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .navigation-list {
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  .navigation-item {
    margin: 0;
  }

  .navigation-item:not([data-scroll='0']) {
    animation: none;
  }
}