.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 0.5rem auto;
}

.navigation-item {
  margin: 1rem;
}

@media (max-width: 600px) {
  .navigation-list {
    gap: 0.75rem;
    flex-wrap: wrap;
  }

  .navigation-item {
    margin: 0;
  }
}