.flex-default {
  display: flex;
}

.line-height-1 {
  line-height: 1;
}

.big-jon {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
}

.le-big-jon {
  width: 1em;
  height: 1em;
  user-select: none;
  border: 0.65rem solid #383838;
  border-radius: 50%;
  box-shadow: inset 0 0 1rem var(--background-color);
  filter: brightness(1.25);
}

@media (prefers-color-scheme: dark) {
  .le-big-jon {
    border: 0.65rem solid var(--text-color);
    filter: brightness(1.15);
  }
}