---
import "./le-big-jon.css";
---

<div role="banner" class="big-jon line-height-1">
  <div
    class="flex-default"
    aria-label="The logo for Jon's page, made of three letters, J, O and N. The J and the N are normal letters while the O is made of a photo of himself with sun glasses."
  >
    <span aria-hidden="true">J</span>
    <div class="le-big-jon-wrapper">
      <img
        src="/assets/Jon.jpg"
        alt="A close up photo of Jon with his sunglasses. This representes the O of the name Jon"
        class="le-big-jon"
      />
    </div>
    <span aria-hidden="true">n</span>
  </div>
</div>
