:root {
  --background-color: #f5f5f5;
  --text-color: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0a0a0a;
    --text-color: #f5f5f5;
  }
}

html {
  background: var(--background-color);
  color: var(--text-color);
}

body {
  width: 100vw;
  height: 100svh;
}