:root {
  --background-color: #f5f5f5;
  --text-color: #383838;
  --text-color-muted: #BBB;

  --accent-color: #004BBD;
  --accent-color-2: #006127;

  --negative-accent-color: #abcdef;
  --negative-accent-color-2: #a5ffc9;


  --accent-gradient: linear-gradient(45deg, var(--accent-color) 0%, var(--accent-color-2) 16%,
      var(--accent-color) 33%,
      var(--accent-color-2) 49%,
      var(--accent-color) 66%,
      var(--accent-color-2) 82%,
      var(--accent-color) 100%);
  --accent-gradient-animation: accent-gradient-animation 10s linear infinite;
  --accent-gradient-animation-fast: accent-gradient-animation 5s linear infinite;
  --accent-gradient-animation-faster: accent-gradient-animation 1s linear infinite;

  --max-width: min(80vw, 30rem, 65ch);

  --post-link-color: #FFB2B2;
}

@keyframes accent-gradient-animation {
  0% {
    background-position: 0
  }

  to {
    background-position: 100%
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #383838;
    --text-color: #f5f5f5;

    --accent-color: #abcdef;
    --accent-color-2: #a5ffc9;

    --negative-accent-color: #004BBD;
    --negative-accent-color-2: #006127;

    --post-link-color: #FEDCBA;
  }
}

html {
  background: var(--background-color);
  color: var(--text-color);
}

body {
  width: 100vw;
  height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5 {
  font-size: .875rem;
  font-weight: 600;
}

h6 {
  font-size: .85rem;
  font-weight: 600;
  color: var(--text-color-muted);
}

.full-width {
  width: 100%;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
}

.flex-row-center.justify-space-around {
  justify-content: space-around;
}

.block {
  display: block;
}

a:hover {
  background: var(--accent-gradient);
  background-clip: text;
  color: transparent;
  animation: var(--accent-gradient-animation-faster);
  background-size: 200%;
}

.max-width {
  max-width: var(--max-width);
}

.vertical-margin {
  margin: 1rem 0;
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post a {
  text-decoration: underline;
}

.post a:hover,
.post a:focus {
  position: relative;
  text-decoration: underline;
}

.post a:visited {
  text-decoration: underline;
  color: var(--text-color);
}

.post a:active {
  background-color: var(--negative-accent-color);
}

.post blockquote {
  background: var(--text-color);
  color: var(--background-color);
  border-left: .5rem solid var(--text-color-muted);
  padding: 0.5rem 0.5rem;
  border-radius: .25rem;
}

.post blockquote:before {
  color: var(--text-color-muted);
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.post blockquote p {
  display: inline;
}

.post ul {
  list-style: disc;
  margin-left: 1.4ch;
}