:root {
  --code-background-color: #193549;
  --code-text-color: #ffc600;

  --gold: gold;
  --silver: silver;
  --shiny: #fff800;
  --linkedin-blue: #0a66c2;
  --white: #fff;

  /* Kind of magic */
  --magic-start: #ed12d8;
  --magic-middle: #d8ed12;
  --magic-end: #12d8ed;
  --dark-magic-start: #910b84;
  --dark-magic-middle: #84910b;
  --dark-magic-end: #0b8491;

  /* Is it easter yet? */
  --bad-ass: #4224B2;
  --ssa-dab: #bada55;
  --3d: #3d3d3d;
  --blink-182: #182;
  --abba: #abba;
  --tainted-love: #520;
  --the-answer-to-the-ultimate-question-of-life-the-universe-and-everything: #424242;
  --love: #A31E00;
  --s-tier: #ff7f80;
  --that-color-that-I-saw-and-liked: #35bcca;
  --that-color-complementary: #ca4335;
  --toi-toi-toi: #2a2a2a;
  --da-da-da: #dadada;
  --2-be-3-or-not-to-be: #2b3;
  --whats-up: #075e54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-background-color: #fafafa;
    --code-text-color: #193549;

    --bad-ass: #bada55;
    --ssa-dab: #7555da;
    --3d: #D3D3D3;
    --blink-182: #0C6419;
    /* Is it easter yet? */
    --abba: #abba;
    --money-money: #888;
    --tainted-love: #520;
    --the-answer-to-the-ultimate-question-of-life-the-universe-and-everything: #cacaca;
    --love: #FFB8A8;
    --s-tier: #ff7f80;
    --that-color-that-I-saw-and-liked: #35bcca;
    --that-color-complementary: #ca4335;
    --toi-toi-toi: #2a2a2a;
    --da-da-da: #dadada;
    --2-be-3-or-not-to-be: #2b3;
    --whats-up: #075e54;
  }
}

.bad-ass {
  color: var(--bad-ass);
}

.third-dimension {
  color: var(--3d);
}

.love {
  color: var(--love);
}

.call-out-wrapper {
  margin: 3vh 0;
}

.call-out {
  text-transform: uppercase;
}

.call-out.i-love-dev {
  font-size: 3rem;
}

.code {
  text-transform: uppercase;
  background-color: var(--code-background-color);
  color: var(--code-text-color);
  font-family: monospace;
  border: 1px solid rgba(21, 35, 45, 0.2);
  border-radius: 5px;
  font-weight: 300;
  padding: 0 0.3ch;
}

.code .cursor {
  color: var(--blink-182);
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.notes {
  color: var(--the-answer-to-the-ultimate-question-of-life-the-universe-and-everything);
  font-weight: 200;
}

.notes.small-font {
  font-size: .8rem;
}

.margin-small {
  margin: 0.5rem;
}