---
import { getCollection } from "astro:content";
import Layout from "../layouts/base-layout.astro";
import PostPreview from "../components/blog/post-preview.astro";

import Hero from "../components/common/hero.astro";

const allPosts = await getCollection("posts");
---

<Layout title="Le Blog - Jon Noé">
  <Hero title="Le Blog">
    <p>Really anything tech I want to talk about.</p>
    <p>Why blogging?</p>
    <p>Because I believe in learning by teaching/sharing.</p>
  </Hero>
  <section class="flex-column-center">
    {
      allPosts.map((post) => (
        <PostPreview
          url={`/posts/${post.slug}`}
          title={post.data.title}
          description={post.data.description}
        />
      ))
    }
  </section>
</Layout>
