---
import { getCollection } from "astro:content";
import Layout from "../layouts/base-layout.astro";
import PostPreview from "../components/blog/post-preview.astro";

import Hero from "../components/common/hero.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);
---

<Layout title="Le Blog - Jon Noé">
  <Hero title="Le Blog">
    <p>Here you will find anything I feel like talking about.</p>
    <p>It's mostly going to be about tech and leading/managing.</p>
    <p>Sharing things I discover and personal experiences</p>
  </Hero>
  <section class="flex-column-center">
    {
      sortedPosts.map((post) => (
        <PostPreview
          url={`/posts/${post.slug}`}
          title={post.data.title}
          description={post.data.description}
        />
      ))
    }
  </section>
</Layout>
