---
import "../styles/home.css";
import "../components/common/hero.css";
import LeBigJon from "../components/header/le-big-jon/le-big-jon.astro";
import Layout from "../layouts/base-layout.astro";
---

<script src="../scripts/home.ts"></script>
<Layout title="Jon Noé - Forever Junior Developer" stickyNav={true}>
	<header class="flex-column-center hero">
		<div
			class="max-width flex-row-center full-width justify-space-around call-out-wrapper"
		>
			<p class="call-out bad-ass">Dev</p>
			<p class="call-out bad-ass">✧</p>
			<p class="call-out bad-ass">Leader</p>
			<p class="call-out bad-ass">✧</p>
			<p class="call-out bad-ass">Coach</p>
		</div>
		<div class="max-width flex-column-center">
			<h1 class="call-out">This is</h1>
			<LeBigJon />
			<h2 class="call-out i-love-dev">
				<span class="third-dimension">&</span> He <span class="love">
					♥️
				</span><code class="code">DEV<span class="cursor">_</span></code>
			</h2>
		</div>
	</header>
	<section class="flex-column-center">
		<p class="notes margin-small">
			Enough of the third-person silliness already. Let's get real.
		</p>
		<article class="max-width post vertical-margin">
			<p>G'day internet, I'm Jon (just in case it was not obvious!)</p>
			<p>
				This blog is still under construction, there are many things I want to
				improve. But there are also many things I want to talk about. So rather
				than shipping the perfect blog, I just ship it as is and will improve as
				we go
			</p>
			<p>
				This page is still under construction, ultimately it will look something
				like <a
					href="https://noejon.github.io/"
					target="_blank"
					rel="noopener noreferrer">my github page</a
				>.
			</p>
			<p>
				In the meantime, if you want to know more about me, I made a <a
					href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
					target="_blank"
					rel="noopener noreferrer">youtube video</a
				> to introduce myself. You can also check my <a href="/about">about</a> and
				<a href="/uses">uses</a> page.
			</p>
		</article>
	</section>
</Layout>
