---
import "../styles/home.css";
import "../components/common/hero.css";
import Card from "../components/home/card.astro";
import LeBigJon from "../components/header/le-big-jon/le-big-jon.astro";
import Layout from "../layouts/base-layout.astro";
import { Image } from "astro:assets";
import leBigJonImage from "../assets/le-big-jon.jpg";
---

<script src="../scripts/home.ts"></script>
<Layout title="Jon Noé - Forever Junior Developer" stickyNav={true}>
  <header class="flex-column-center hero">
    <div
      class="max-width flex-row-center full-width justify-space-around call-out-wrapper"
    >
      <p class="call-out bad-ass">Dev</p>
      <p class="call-out bad-ass">✧</p>
      <p class="call-out bad-ass">Leader</p>
      <p class="call-out bad-ass">✧</p>
      <p class="call-out bad-ass">Coach</p>
    </div>
    <div class="max-width flex-column-center">
      <h1 class="call-out">This is</h1>
      <LeBigJon />
      <h2 class="call-out i-love-dev text-center">
        <span class="third-dimension">&</span> He <span class="love">
          ♥️
        </span><code class="code">DEV<span class="cursor">_</span></code>
      </h2>
    </div>
    <p class="notes margin-small text-center">
      Enough of the third-person silliness already. Let's get real.
    </p>
  </header>
  <div class="flex-column-center gap relative">
    <Card
      font="face"
      cardPadding="big"
      flexAlign="left"
      textAlign="left"
      maxWidth="large"
    >
      <Fragment slot="card-content">
        I am an <span class="s-tier">S-Tier</span>
        Artist for react and node.js...
      </Fragment>
      <Fragment slot="card-comment">
        Your read it right! <code class="code"
          >Coding<span class="cursor">_</span></code
        > is <span class="big-font-and-the-andersons">&#128175;</span> a form of
        Art
      </Fragment>
    </Card>
    <Card
      font="face"
      cardPadding="big"
      flexAlign="right"
      textAlign="right"
      maxWidth="large"
    >
      <Fragment slot="card-content">
        ...and a great <span class="bad-ass">team leader</span>, <span
          class="bad-ass">coach</span
        > and
        <span class="bad-ass">mentor<sup>*</sup></span>
      </Fragment>
      <Fragment slot="card-comment">
        References can be provided for a fee <span
          class="shiny big-font-and-the-andersons">$$$</span
        >
      </Fragment>
    </Card>
    <div class="flex-row le-talkative-jon right">
      <Image
        src={leBigJonImage}
        alt="A close up photo of Jon with his sunglasses. This is representing a version of Jon next to a message box to replicate what can be seen on a message application"
        class="image"
      />
      <div class="message-box">
        <p id="leMessage">Just testing with a simple message again</p>
      </div>
    </div>
  </div>
</Layout>
<article class="max-width post vertical-margin">
  <p>G'day internet, I'm Jon (just in case it was not obvious!)</p>
  <p>
    This blog is still under construction, there are many things I want to
    improve. But there are also many things I want to talk about. So rather than
    shipping the perfect blog, I just ship it as is and will improve as we go
  </p>
  <p>
    This page is still under construction, ultimately it will look something
    like <a
      href="https://noejon.github.io/"
      target="_blank"
      rel="noopener noreferrer">my github page</a
    >.
  </p>
  <p>
    In the meantime, if you want to know more about me, I made a <a
      href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
      target="_blank"
      rel="noopener noreferrer">youtube video</a
    > to introduce myself. You can also check my <a href="/about">about</a> and
    <a href="/uses">uses</a> page.
  </p>
</article>
