---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jon Noé - Forever Junior Developer ">
	<div class="index-wrapper">
		<p class="instructions">Hey this is Jon!</p>
	</div>
</Layout>
