---
import Hero from "../components/common/hero.astro";
import LeBigJon from "../components/header/le-big-jon/le-big-jon.astro";
import Layout from "../layouts/base-layout.astro";
---

<Layout title="Jon Noé - Forever Junior Developer ">
	<Hero title="This is"><LeBigJon /></Hero>
	<section class="flex-column-center">
		<article class="max-width post vertical-margin">
			<p>G'day internet, I'm Jon (just in case it was not obvious!)</p>
			<p>
				This blog is still under construction, there are many things I want to
				improve. But there are also many things I want to talk about. So rather
				than shipping the perfect blog, I just ship it as is and will improve as
				we go
			</p>
			<p>
				This page is still under construction, ultimately it will look something
				like <a
					href="https://noejon.github.io/"
					target="_blank"
					rel="noopener noreferrer">my github page</a
				>.
			</p>
			<p>
				In the meantime, if you want to know more about me, I made a <a
					href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
					target="_blank"
					rel="noopener noreferrer">youtube video</a
				> to introduce myself. You can also check my <a href="/about">about</a> and
				<a href="/uses">uses</a> page.
			</p>
		</article>
	</section>
</Layout>
