.small {
  display: block;
  line-height: 0.75rem;
  min-height: 0.75rem;
  text-align: right;
  font-size: 60%;
  pointer-events: none;
}

.small:not([data-scroll='0']) {
  display: none;
}

.small:not([data-scroll='0'])+.link-text {
  font-size: 1rem;
}

@keyframes make-disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

  from {
    display: block;
  }

  to {
    display: none;
  }
}

.link-text {
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}

@media (max-width: 600px) {
  .small {
    display: none;
  }

  .link-text {
    font-size: 1rem;
  }
}