.small {
  display: block;
  line-height: 0.75rem;
  text-align: right;
  font-size: 60%;
  pointer-events: none;
}

.link-text {
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}

@media (max-width: 550px) {
  .small {
    display: none;
  }

  .link-text {
    font-size: 1rem;
  }
}