---
import "../styles/normalise.css";
import "../styles/accessibility.css";
import "../styles/global.css";

import NavBar from "../components/header/navigation-bar/navigation-bar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const DESCRIPTION = "Describing the website";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={DESCRIPTION} />
		<meta name="author" content="Jonathan Noé" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="page-wrapper">
			<header class="full-width">
				<NavBar />
			</header>
			<main class="main-wrapper">
				<slot />
			</main>
			<footer class="made-by-love">Made with love by Noj</footer>
		</div>
	</body>
</html>
<style is:global>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.page-wrapper {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-wrapper {
		flex: 1;
		width: 100%;
	}
</style>
